    body {
        background-color: #f3772f;
        color: white;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn:hover {
        cursor: pointer;
    }
    .container {
        flex-wrap: wrap;
    }

    #start {
        height: 75vh;
        padding-top: 230px;
    }

    #start-button {
        background-color: white;
        border: 0;
        margin: 0 auto;
        display: block;
        font-size: 26px;
        padding: 20px 40px;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
    }

    #start.playing {
        margin-top: -90vh;
        transition: margin-top 1s;
    }

    #start.playing + #game {
        display: flex;
    }

    #game {
        display: none;
        width: 510px;
        margin: 0 auto;
    }

    .game-card-wrapper {
        padding-bottom: 25%;
        position: relative;
        width: 150px;
        float: left;
        margin-right: 14px;
        margin-bottom: 10px;
        text-align: center;
    }

    .game-card-wrapper:hover {
        cursor: pointer;
    }
    
    .game-card {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    
    .game-card.flipped {
        transform: rotateY( 180deg );
    }
    .front,
    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .front {
        background: #3b39b9;
        font-size: 3rem;
    }
    
    .back {
        transform: rotateY( 180deg );
        background-attachment: white;
    }
    
    .back > img {
        height: 100%;
        width: auto;
    }

    #current-score {
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    #end {
        display: none;
    }
  
    #end.game-over {
        display: flex;
        position: absolute;
        background-color: rgba(0,0,0,0.75);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: space-around;
        text-align: center;
    }
    
    #end h1 {
        font-size: 8rem;
    }
    
    #end h4 {
        font-size: 3rem;
    }